/* stylelint-disable */
// ***** We're On It Generator Main Theme ****//

// ** VARIABLES **
$primary: #f0c174;

// ** IMPORTS **
@import url('https://use.typekit.net/tfo3xzd.css');

body {
  background: $primary;
  color: #000;
}
